*{
  margin: 0;
  padding: 0;
}

.main{
  width: 100%;
  background-image: url("pexels-asad-photo-maldives-3601425.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
  height: 100vh;
}

.navbar{
  width: 1200px;
  height: 75px;
  margin: auto;
}

.icon{
  width: 200px;
  float: left;
  height: 70px;
}

.logo{
  color: #05d7c2;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
}

.menu{
  width: 400px;
  float: left;
  height: 70px;
}

ul{
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li{
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

ul li a{
  text-decoration: none;
  color: #8615d1;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: #0ed3b9;
}

.search{
  width: 330px;
  float: left;
  margin-left: 270px;
}

.srch{
  font-family: 'Times New Roman';
  width: 200px;
  height: 40px;
  background: transparent;
  border: 1px solid #1ccaf6;
  margin-top: 13px;
  color: #fff;
  border-right: none;
  font-size: 16px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.btn{
  width: 100px;
  height: 40px;
  background: #0cffe3;
  border: 2px solid #00fff7;
  margin-top: 13px;
  color: #fff;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}
.btn:hover{
  color: #000;
}

.btn:focus{
  outline: none;
}

.srch:focus{
  outline: none;
}

.container {
  text-align: center;
  padding: 40px;
}

h1 {
  margin-top: 0;
}

.container {
  text-align: center;
  padding: 40px;
}

h1 {
  margin-top: 0;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.card {
  width: 300px;
  height: 400px; 
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  margin: 20px;
}

.card img {
  width: 100%;
  height: 300px; 
  object-fit: cover; 
  display: block;
  border-radius: 10px 10px 0 0;
}

.card-content {
  padding: 20px;
  height: 200px; 
}

.card-content h3 {
  margin-top: 0;
  font-size: 18px;
}

.card-content p {
  margin-bottom: 15px;
  font-size: 14px;
}
